html,body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(184, 184, 184);
  font-size: large;
  font-family: sans-serif;
}

/* The sidebar menu */
#filters {
  height: 100%;
  width: 200px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0;
  /* Stay on top */
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #5f5d5d;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 50px;
}

/* The navigation menu links */
#filters button {
  padding: 6px 8px 6px 16px;
  margin-bottom: 10px;
  width: 120px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
#filters button:hover {
  color: #f1f1f1;
}

#filters button.pressed {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(69, 117, 189);
  display: block;
}

/* Style page content */
#page {
  margin-left: 200px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
  display: inline-block;
}

#header {
  padding: 20px;
  text-align: center;
  background: #424040;
  color: white;
  font-size: 30px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  margin-left: 200px;
  padding: 0;
  display: inline;
}

#navbar-product {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

li.navbar {
  display: inline;
  padding: 5px;
  margin: 5px;
  height: 100%;
  border-right-style: solid;
  border-left-style: solid;
  background-color: #5f5d5d;
  border-color: rgb(69, 117, 189);

  a {
    text-decoration: none;
    color: black;
  }
}

#sort-select {
  position: fixed;
  z-index: 1;
  margin-top: 10px;
  margin-left: 10px;
  color: #750909;
}

li.items-container {
  margin: 20px;
  display: inline-block;
  width: 350px;
  background-color: #ffffff;
  align-items: center;

  a {
    text-decoration: none;
    color: #253a7c;
  }
}

div.item-image {
  align-self: center;
  margin: 0px;
  align-items: center;
}

img.item-image {
  align-self: center;
  margin: 0px;
}

hr {
  margin: 0px;
  border-style: dashed;
}

div.item {
  margin: 0px;
  align-self: center;
  background-color: #ffffff;
  width: 350px;
  text-align: center;
}

s {
  color: red;
}

.product-view {
  align-self: right;
  float: right;
  margin-left: 200px;
  margin-right: 200px;

  h1 {
    margin-bottom: 0px;
    color: #253a7c;
    font-size: 60px;
    text-align: center;
  }

  div.inventory {
    text-align: right;
    color: #5f5d5d;
    font-size: 20px;
  }

  div.price {
    margin-top: 10px;
    font-size: 30px;
    text-align: right;
    color: #424040;
    font-family: 'Courier New', Courier, monospace;
  }

  div.popularity {
    margin-top: 20px;
    color: #253a7c;
    font-size: 20px;
    font-weight: 500;
  }

  div.rating {
    margin-top: 50px;
    font-size:30px;
  }
}