span.price {
    background-color: white;
    color: hwb(0 30% 69%);
    text-align: center;
    padding: 5px;
    border-radius: 8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    margin-right:5px;
    margin-bottom:10px;
}

footer {
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
}

.subheading {
    font-weight: bold;
    color:rgb(112, 214, 167)
}

div.about {
    text-align: center;
    h4 {
        text-decoration: underline;
        color: rgb(93, 122, 185);
    }
}

a.hidden {
    text-decoration: none;
    color:rgb(0, 195, 255);
}
a.hidden:hover{
    color:rgb(95, 95, 185);
}